/* Colors: */
$unnamed-color-040404: #040404;
$unnamed-color-f1f1f1: #f1f1f1;
$unnamed-color-3b486d: #3b486d;
$unnamed-color-858688: #858688;
$unnamed-color-ffffff: #ffffff;

/* Font/text values */
$unnamed-font-family-tajawal: "Tajawal";
$unnamed-font-style-normal: normal;
$unnamed-font-weight-normal: normal;
$unnamed-font-weight-bold: bold;
$unnamed-font-weight-medium: medium;
$unnamed-font-size-24: 24px;
$unnamed-font-size-32: 32px;
$unnamed-font-size-36: 36px;
$unnamed-font-size-92: 92px;
$unnamed-character-spacing-0: 0px;
$unnamed-character-spacing--0-24: -0.24px;
$unnamed-character-spacing-4-8: 4.8px;
$unnamed-character-spacing--0-32: -0.32px;
$unnamed-line-spacing-30: 30px;
$unnamed-line-spacing-38: 38px;
$unnamed-line-spacing-42: 42px;
$unnamed-line-spacing-43: 43px;
$unnamed-text-transform-uppercase: uppercase;
