.main {
  width: 100vw;
  height: 100vh;
  // background: transparent url("/public/assets/FeaturedCoverImage.png") 0% 0%
  //   no-repeat padding-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
